{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Open Source Code Repository</a>
    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0 ml-auto search-bar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for code..." aria-label="Search">
      </form>
    </div>
  </nav>
  <div class="container">
    <div class="homepage">
      <h1>Welcome to CodeShare</h1>
      <p>Upload and share your code with the world.</p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}