{% extends "base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% for message in get_flashed_messages() %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="{{ url_for('static', filename='images/logo.png') }}" class="rounded me-2">
      <strong class="me-auto">Login Message</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
  </div>
{% endfor %}

{% endblock %}


{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var alertList = document.querySelectorAll('.alert');
        alertList.forEach(function (alertmsg) {
            new alert(alertmsg);ç
        });
    });
</script>
{% endblock %}