{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="homepage">
    <h1>Login</h1>
    <form class="d-flex ms-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Username" aria-label="Search">
      <input type="password" id="inputPassword6" placeholder="password" class="form-control" aria-describedby="passwordHelpInline">
      <button class="btn btn-outline-success" type="submit">Register</button>
    </form>
    </p>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}