{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
  <div class="container">
    <div class="homepage">
      <h1>Our mission</h1>
      <p>At Code Share we belive that all code should be free and usable to help technological advancements. On our platform anyone can edit and change code to improve and make it run smoother or add functionality. Our team members are always finding ways to improve our platform. And we would appreciate your opinion about our site</p>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">What do you think about our site? How could we improve?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      
      </p>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}