{% extends "base.html" %}

{% block head %}
<title>Search Results</title>
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Search Results for "{{ query }}"</h2>
    {% if result_files %}
        <ul class="list-group">
            {% for file in result_files %}
                <li class="list-group-item">
                    <a href="{{ url_for('download_file', name=file) }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No files found matching your search query.</p>
    {% endif %}
    <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Go back to Upload</a>
</div>
{% endblock %}
